*{
    margin: 0;
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(to right bottom, #000000, #310f18, #5d0f22, #8a0725, #b70020, #b70020, #b70020, #b70020, #8a0725, #5d0f22, #310f18, #000000);

}
.navbar{
    overflow: hidden;
    height:90px;
    background-image: linear-gradient(to right, #000000, #3f101c, #7b0b27, #b80026, #f21111);
    display: flex;
    column-gap: 30px;
    border-bottom:2px solid #000000;
}
.logo{
    height:90px;
    width:100px;
}
.logo img{
    height:90px;
    width:100px;
    border-radius: 50px;
}
.navlinks{
    flex-basis: 1000px;
}
.navul{
    font-size: 17px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    /* overflow: hidden; */
    margin-top: 35px;
}
.navul li{
    display: inline;
    border-right: 1px solid #bbb;
}
.navul li a{
    
    padding: 30px;
    text-decoration: none;
    color:white
}
.hello{
    margin-top: 35px;
    color:white;
}
.user{
    align-self: center;
    justify-items: center;
}
.user button{
    margin-left: 60px;
    width: 70px;
    height: 60px;
    background-color: #DC1621;
    color: white;
    font-weight: bold;
    font-size: 17px;
    padding: 7px;
    border-radius: 15px;
    box-shadow: #3f101c;
}
.intro{
    padding-top: 50px;
}
.imgslide img{
    width:100%;
    height:88.75%;
}
.intro  img{
    height:350px;
    width:350px;
    border-radius: 50%;
    border:2px solid black;
}
.one{
    padding: 40px;
    display: flex;
}
.two{
    padding: 40px;
    display: flex;
}
.three{
    padding: 40px;
    display: flex;
}
.four{
    padding: 40px;
    display: flex;
}
.intro p{
    color: white;
    padding: 30px;
    align-self: center;
    justify-content: center;
    font-size: large;
}
.centered {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:rgb(79, 5, 5);
  }